body{
    align-items: center;
    background: url(./bg-pattern-bottom.svg) bottom -37.5rem right -9.375rem no-repeat, url(./bg-pattern-top.svg) top -31.25rem left -12.5rem no-repeat;
    background-color: #19A2AE;
    display: grid;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.card {
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    box-shadow: #63636E05, 0rem .438rem 1.813rem 0rem; 
    display: flex;
    flex-direction: column;
    height: 28.125rem;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 25rem;
}

.card .header img{
    width: 100%;
}

.card .content{
    flex: 0.5;
}

.card .content img{
    border: .438rem, solid #FFFFFF;
    border-radius: 50%;
    transform: translateY(-50%);
}

.card .content p{
    color: #6A6F81;
    font-size: 18px;
}
.card .content p:first-of-type{
    color: #2D3248;
    font-weight: bold;
    font-size: 20px;
}

.card .content p span{
    color: #6A6F81;
    font-weight: normal;
}

.card .footer{
    align-items: center;
    border-top: .125rem solid #d8d9df;
    color: #2D3248;
    display: flex;
    flex: .2;
    flex-direction: row;
    justify-content: space-evenly;
}

.card .footer .item{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .footer .item .status{
    font-size: 17px;
    font-weight: 700;
}

.card .footer .item .status .name{
    color: #6A6F81;
    font-size: 18px;
    letter-spacing: .125rem;
    margin-top: 0.625rem;
}